body.board, body.list {margin: 0}
body.read {background-color: #efefef;}
h1 {text-align: center;}
.head, .thread { border: 1px inset gray; padding: 6px;}
table.postform td {text-align: left;}
table.postform td input {width: auto;}
table.postform td textarea {width: auto;}
table.postform td .label {text-align: right;}
input.submit {float: right;}
.legal {text-align: center; font-size: x-small;}
.postnum {font-weight: bold;}
.postername,.postertrip {color: forestgreen;}
.postertrip {font-weight: bold;}
blockquote {text-align: left; font-family: serif;}
.border, .hborder {border: 1px outset gray; margin-left: 2.5%; margin-right: 2.5%; width: 95%; padding: 6px; margin-bottom: 1em; background-color: #efefef}
.hborder {background-color: #cfc}
h1, h2 {margin-top: 0px; clear: both;}
.threadlinks {text-align: left;}
.threadldiv {margin-right: 5%; margin-left: 5%; margin-bottom: 1em; background-color: #cfc; width: 90%}
.threads {font-size: small; text-align: left;}
table.threads th {text-align: center;}
.topbar {margin: -2px; margin-bottom: .5em; background: white; border: 1px inset black; width: 100%; text-align: right}
.styles {border: 2px outset black; margin: 2px; background: white; float: left; margin-top: 0; margin-left: 0}
.threads th a, .threads td a, .postfieldleft a, .postnum a {color: black;}
.postfieldleft a, .postnum a, h2 a {text-decoration: none}
.postfieldleft {vertical-align: top;}
.replies {font-size: medium;}
h2 a, h3 {color: red}
h2, .navlinks {clear: none}
h3 {margin-top: 0}
hr {margin-bottom: 0}
.pages {font-size: smaller}
.bottomnav {text-align: center;}