html, body {
	background: #85d603;
	color: #1b2b01;
}
input, textarea {
  background-color: #b2d203;
  border: 1px solid #008a00;
}
a {
	color: #1b2b01;
}
a:hover {
	color: #cd0000;
}
.adminbar {
	text-align:right;
	clear:both;
	float:right;
}
.logo {
	clear:both;
	text-align:center;
	font-size:2em;
	color: #1b2b01;
	width:100%;
}
.replymode {
	background: #008a00;
	text-align:center;
	padding:2px;
	color: #beff31;
	width:100%;
}
.catalogmode {
	background: #004d95;
	text-align:center;
	padding:2px;
	color: #beff31;
	width:100%;
}
.postarea {
}
.rules {
	font-size:0.7em;
}
.postblock {
	background: #008a00;
	color: #1b2b01;
	font-weight:800;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
}
.passvalid {
	background:#EEAA88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#AAAA66;
	color:#400000;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color: #1b2b01;
}
.row1 {
	background:#EEEECC;
	color: #1b2b01;
}
.row2 {
	background:#DDDDAA;
	color: #1b2b01;
}
.unkfunc {
	background:inherit;
	color:#789922;
}
.filesize {
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#CC1105;
	font-weight:800;
}
.postername {
	color: #004a00;
	font-weight:bold;
}
.postertrip {
	color:#004a00;
}
.oldpost {
	color:#CC1105;
	font-weight:800;
}
.omittedposts {
	color:#707070;
}
.reply {
	background: #b2d203;
	color: #1b2b01;
}
.replyhl {
	background: #F0C0B0;
	color:  #1b2b01;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#CC1105;
	font-weight:800;
}
.commentpostername {
	color:#117743;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color: #1b2b01;
}

.abbrev {
	color:#707070;
}
.highlight {
	/*background:#F0E0D6;
	color: #1b2b01;*/
	background: #b2d203;
	color: #1b2b01;
	border: 2px dashed #008a00;
}

#watchedthreads {
	background-color: #b2d203 !important;
	border: 1px dotted #008a00 !important;
	border-top: 0px none !important;
}

.hidethread {
	background-image: url('icons/green/zoom-out.gif');
}

.watchthread {
	background-image: url('icons/green/bookmark.gif');
}

.expandthread {
	background-image: url('icons/green/move.gif');
}

.quickreply {
	background-image: url('icons/green/eject.gif');
}

.hidewatchedthreads {
	background-image: url('icons/green/arrow-upleft.gif');
}

.refreshwatchedthreads {
	background-image: url('icons/green/refresh.gif');
}

.restorewatchedthreads {
	background-image: url('icons/green/grow.gif');
}