/* Basic page styling, not part of the form example */

body 	{
font-family : "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
font-size : 90%;
color : #333;
background:#EEF2FF;
padding : 0;
}

#container {
margin : 0 auto;
padding : 0;
width : 350px;
text-align : left;
}

	h1	{
	padding : 0.5em 1em;
	margin : 0;
	font-weight : bold;
	font-size : 175%;
	}
	
	h2	{
	padding : 0.5em 1em;
	margin : 0;
	font-weight : bold;
	font-size : 150%;
	}

	p	{
	padding : 0.5em 1em;
	margin : 0;
	font-size : 100%;
	}
	
		p#intro	{
		padding : 0.5em 1em;
		border-bottom : 1px solid #ccc;
		}

	a	{
	color : #900;
	text-decoration : underline;
	}

label,input {
	display: block;
	width: auto;
	float: left;
	margin-bottom: 10px;
}

label {
	font-size: 12px;
	text-align: right;
	width: 175px;
	padding-right: 20px;
}

br {
	clear: left;
}

/*label {
	font-size: 12px;
	text-align: right;
	width: 175px;
	padding-right: 20px;
}

input {
	display: inline;
}

br {
	clear: left;
}*/

/* So stuff from the futaba styling works */

.desc {
	text-indent: 5px;
	font-size : 80%;
	white-space: nowrap;
}

.footer {
        text-align:center;
        font-size:10px;
        font-family:sans-serif;
}

th,td {
	font-size:10px;
	font-family:verdana;
}

.unkfunc {
	color:#789922;
}
.filesize {
	font-size:12px;
	font-family:sans-serif;
	text-decoration:underline;
	padding-left:3em;
}
.filetitle {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#0F0C5D;
	font-weight:800;
}
.postername {
	background:inherit;
	font-size:12px;
	font-family:serif;
	color:#117743;
	font-weight:800;
}
.oldpost {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#0F0C5D;
        font-weight:800;
}
.omittedposts {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#070707;
        font-weight:800;
}
.reply {
	background:#D6DAF0;
	color:#000000;
	font-family:serif;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#0F0C5D;
        font-weight:800;
}
.commentpostername {
        background:inherit;
        font-size:12px;
        font-family:serif;
        color:#117743;
        font-weight:800;
}
.thumbnailmsg {
	background:inherit;
	font-size:9px;
	font-family:sans-serif;
	color:#000000;
}
